<!DOCTYPE html>
<html>

<head>
    <title>Asesino de Monstruos</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body style="background-color: black;">
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center"><img src="img/warrior.png" class="logo"><br> Tú</h1>
                <div class="healthbar">
                    <div class="healthbar curarthbar text-center" style="background-color: green; margin: 0; color: white;"
                        :style="{width: playerHealth + '%'}">
                        {{playerHealth}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center"><img src="img/monster.png" class="logo"><br> Monstruo</h1>
                <div class="healthbar">
                    <div class="healthbar curarthbar text-center"
                        style="background-color: rgb(0, 81, 128); margin: 0; color: white;"
                        :style="{width: monsterHealth + '%'}">
                        {{monsterHealth}}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!gameIsRunning">
            <div class="small-12 columns">
                <button id="start-game" @click="startGame">
                    EMPEZAR JUEGO NUEVO</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack(3,10)">ATACAR</button>
                <button id="special-attack" @click="specialAttack(10,20)">ATAQUE ESPECIAL</button>
                <button id="heal" :disabled="playerHealth==100" @click="heal">CURAR</button>
                <button id="giveUp"@click="giveUp">RENDIRSE</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns" v-if="turns.length > 0"> 

                <ul>
                    <li class="turno" v-for="turn in turns" :class="{'player-turno': turn.isPlayer, 'monster-turno': !turn.isPlayer}"> 
                        {{turn.text}}
                    </li>
                </ul>

            </div>
        </section>
    </div>
    <script src="app.js"></script>
</body>

</html>